/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.follow-icon {
    float: left;
    height: 50px;
    padding: 9px;
}

.skill {
    margin: 2px;
}